<ion-view view-title="Main">
    <ion-content padding="true">

        <div id="mms-main-container">

            <div class="mms-for-start">
                <div style="font-size: 1.3em;" class="mms-text-second">: لتبدأ قل</div>
                <div style="font-size: 1.4em"> 
                    أدخل الى القائمة الرئيسة
                </div>
            </div>
            <div style="text-align: center;padding-top: 40px;padding-bottom: 80px">
                <img src="img/frobot.png" height="200"  alt="">
                <div style="font-family: mmsScreen; font-size: 2em">م م ص</div>
            </div>
            <div dir="rtl" >
                <div style="font-size: 1.3em;padding-bottom: 6px"> نبذة عن التطبيق</div>
                <div  style="text-align: justify;font-size: 1.1em" class="mms-text-second">
                   يقوم تطبيق م م ص بمساعدة المستعمل المكفوف أو ضعيف البصر على استمرارية تعلمه الذاتي  من خلال تمكينه من البحث في شبكة الأنترنت و االاستفادة  من المحتوى المتنوع  من كتب و محاضرات صوتية، و يتم ذلك باستعماله  أوامر صوتية تسمح له بالقيام بعمليات البحث و الإختيار و الاستماع... هذه الأوامر يقوم بتنفيدها مرافق صوتي افتراضي وقتي .

<br/>كذلك يقوم التطبيق بتقديم إجابات على الأسئلة اليومية للمستعمل.
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>