<ion-view view-title="">
    <ion-content>
        <!--io-->
        <div style="height:100vh ;width: 100vw;
                    padding: 3vmax;display: flex; flex-direction: column;  justify-content: center;">

            <div style="text-align: center">
                <h1 class="mms-text-second">{{currentBook}}</h1>
                <iframe ng-hide="true" id="mms-player" type="text/html" width="640" height="360" ng-src="{{url}}" frameborder="0"></iframe>
                <button class="button" ng-click="play()">Play</button>
                <button class="button" ng-click="pause()">Pause</button>
            </div>

        </div>
    </ion-content>
</ion-view>