<ion-view view-title="">
    <ion-content>
        <div class="mms-pan-helper" on-double-tap="startListening()"></div>
        <div style="height:100vh ;width: 100vw;
                    padding: 3vmax;display: flex; flex-direction: column;  justify-content: center;">
            <div class="mms-main-container" style="text-align: center">
                <div class="icon ion-clock mms-text-second" style="font-size: 25vmax"></div>
                <h1 class="mms-text-second" style="font-size: 5vmax;line-height: 9vmax">{{time}}</h1>
            </div>

        </div>
    </ion-content>
</ion-view>