<ion-view view-title="">



  <ion-content scroll="false">
    <div class="mms-header">القائمة الرئيسة</div>
    <div><img src="img/frobot.png" width="30%" style="position: absolute;top:10vh;left: 10vw"></div>
    <div class="mms-main-container" style="height: 100%">
      <div style="padding-bottom: 10px;height:72%;overflow-y: scroll">
        <div style="font-size: 30pt;text-align: right;margin-bottom: 20px;margin-top: 30px" dir="rtl" class="mms">قل :</div>
        <div class="mms-header mms-header2">
          <div style="font-size: 20pt">كتاب مسموع</div>
          <div style="font-size: 14pt" class="mms-text-second">لمطالعة كتاب سماعيا</div>
        </div>
        <div class="mms-header mms-header2 ">
          <div style="font-size: 20pt">كتاب مسموع</div>
          <div style="font-size: 14pt" class="mms-text-second">لمطالعة كتاب سماعيا</div>
        </div>
        <div class="mms-header mms-header2 mms-menu-item-atcive">
          <div style="font-size: 20pt">كتاب مسموع</div>
          <div style="font-size:14pt" class="mms-text-second">لمطالعة كتاب سماعيا</div>
        </div>
        <div class="mms-header mms-header2">
          <div style="font-size: 20pt">كتاب مسموع</div>
          <div style="font-size: 14pt" class="mms-text-second">لمطالعة كتاب سماعيا</div>
        </div>
        <div class="mms-header mms-header2">
          <div style="font-size: 20pt">كتاب مسموع</div>
          <div style="font-size: 14pt" class="mms-text-second">لمطالعة كتاب سماعيا</div>
        </div>
        <div class="mms-header mms-header2">
          <div style="font-size: 20pt">كتاب مسموع</div>
          <div style="font-size: 14pt" class="mms-text-second">لمطالعة كتاب سماعيا</div>
        </div>
        <div class="mms-header mms-header2">
          <div style="font-size: 20pt">كتاب مسموع</div>
          <div style="font-size: 14pt" class="mms-text-second">لمطالعة كتاب سماعيا</div>
        </div>
        <div class="mms-header mms-header2">
          <div style="font-size: 20pt">كتاب مسموع</div>
          <div style="font-size: 14pt" class="mms-text-second">لمطالعة كتاب سماعيا</div>
        </div>
      </div>
      <div class="mms-barr-opac"></div>
      <div style="position: relative;top:-58px">
        <div style="height: 20vh;width: 20vh;margin: auto;text-align: center">
          <div class="icon ion-record mms-text-second" style="font-size: 20vh;opacity: 0.04"></div>
          <div class="icon ion-ios-mic mms-text-second" style="font-size: 10vh;position: relative;top:-15vh;"></div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>