<ion-view view-title="Main">
    <ion-content>
 
        <div class="mms-pan-helper" on-double-tap="startListening()"></div>
        <div style="height:100vh ;width: 100vw;
                    padding: 3vmax;display: flex; flex-direction: column;  justify-content: center;">
            <div class="mms-main-container">

                <div class="mms-for-start">
                    <div style="font-size: 4vmax;" class="mms-text-second">: لتبدأ قل</div>
                    <div style="font-size: 3.8vmax" id="mms-first-command">
                        أدخل الى القائمة الرئيسة
                    </div>
                </div>
                <div style="text-align: center;padding-top: 10vh;padding-bottom: 10vh;">
                    <div>
                        <img src="img/frobot.png" style="height: 24vmax">
                    </div>
                    <div style="font-family: mmsScreen; font-size: 4.3vmax;padding-top: 1.3vmax">ق م ص</div>
                </div>
                <div dir="rtl">
                    <div style="font-size: 3vmax;padding-bottom: 1.1vmax"> نبذة عن التطبيق</div>
                    <div style="text-align: justify;font-size: 3vmax;line-height: 3vmax" class="mms-text-second">
                        مرحبا، يقوم تطبيق ق م ص بمساعدة المستعمل المكفوف أو ضعيف البصر على استمرارية تعلمه الذاتي من خلال تمكينه من البحث في شبكة الأنترنت
                        و االاستفادة من المحتوى المتنوع من كتب و محاضرات صوتية، و يتم ذلك باستعماله أوامر صوتية تسمح له بالقيام
                        بعمليات البحث و الإختيار و الاستماع بسهولة... هذه الأوامر يقوم بتنفيدها مرافق صوتي افتراضي وقتي .

                        <br/>كذلك يقوم التطبيق بتقديم إجابات على بعض الأسئلة اليومية للمستعمل.
                    </div>
                </div>
            </div>

        </div>

        <div class="list card" dir="rtl">

            <div class="item item-body">
                <img class="full-image" src="img/blind.png">
                <p style="font-size: 3vmax;color: #0f1120;line-height: 3vmax">
                     صممت واجهة هذا التطبيق، ليستعين بها المدربون و المرافقون في مساعدتهم لتلقين المستخدمين-الهدف طريقة إستخدام التطبيق بشكل فعال.
                </p>
            </div>

        </div>

        <div class="list card" dir="rtl">

            <div class="item item-body">
                <img class="full-image" src="img/mouthspeak.png">
                <p style="font-size: 3vmax;color: #0f1120;line-height: 3vmax">
                     بًرمج التطبيق بشكل يسمح للمسخدم الكفيف أو ضعيف البصر من الإستعمال الفردي دون الحاجة لمساعدة خارجية قدر الإمكان. 
                </p>
            </div>

        </div>
        
    </ion-content>
</ion-view>